html {
    scroll-snap-type: y mandatory;
}

.app {
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
    place-items: center;
}

.app__videos {
    /* display: grid; */
    /* position: relative; */
    height: 800px;
    border-radius: 100px;
    overflow: scroll;
    width: 100%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}


/* hide scroll bar fro Chrome, Safari, Opera */

.app__videos::-webkit-scrollbar {
    display: none;
}